#BRcontainer {
margin-top:80px;
}

#BRtoolbar {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    padding: 0;
    width: 100%;
    z-index: 100;
    background-color: #F2F2F2;
    -webkit-box-shadow: 0 1px 3px #999;

    overflow: hidden;
}

.BRicon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-top: 60px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    background-color: #F2F2F2;
    background-image: url(images/BRicons.png);
    background-repeat: no-repeat;
}

div#BRpage {
    float: right;
    width: 280px;
    margin-top: -60px;
    padding-left:12px;
    text-align: right;
}

#BRreturn a {
    font-size: 15px;
    display: block;
    color: #0088CC;
    overflow: hidden;
}

#BRreturn {
    display: block;
    float: left; 
    /*margin: 0 10px 0 5px;*/
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 10px;
    font-family: "Lucida Grande","Arial",sans-serif;
    color: #333;
    height: 100%;
    line-height: 38px;
}
#BRreturn span {
    font-size: 11px;
    display: block;
    height: 12px;
    padding-top: 3px;
}

div#BRnav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: visible;
    z-index: 100;
    background-color: #F2F2F2;    
    
    -webkit-box-shadow: 1px 1px 2px #333;
    /* No shadow for FF, to be consistent with toolbar */
    _position:absolute;
    _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); 
}

.BRnavCntl {
    background-color: #F2F2F2;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

#RTL {
    margin-top: 65px;
    border-radius 0 4px 4px 0;
    background-color:#000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #F9F9F9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#LTR {
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 100px;
    background-color:#000000;
    border-radius 0 4px 4px 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #F9F9F9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#YaleButtons {

    text-align: center;
    padding-right: 30px;
}

.bookreader_span3 {
margin-left:10px;
padding-top:5px;
}

.row {
width=80%;
margin-left:0px;
}

.span3 nav-collapse {
float: right;
}

#searchbar {
width: 40%;
}

.container {
}
