<div class="row">


<h1>ChildrenObjects#get_children</h1>
<p>Find me in app/views/children_objects/get_children.html.erb</p>

      <div class="document">
 <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q"%>
      </div>

</div>
