.navbar .brand {
width: 235px;
margin-top:10px;
}

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

#push,
#footer {
height: 60px;
}

#footer {
text-align:center;
padding-top:10px;
}

@media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
     }

.showSimple .RepObject {padding-top:20px; 
padding-bottom:20px;
clear: both;
text-align: center;
}

h1 { font-size: 25px;
}

.relatedLinks {text-align: center;
margin-top:20px;
}

.complexObjects {
}

.yale_thumbnail {
float: right;
padding-right: 30px;
}
