<div id="push"></div>
<div id="footer"> 
<div id="footer-line1">
<a href="http://web.library.yale.edu/gsearch">Search Library Website</a> &nbsp;&nbsp; 
<a href="http://digitalcollections.library.yale.edu">Other Digital Collections</a>&nbsp;&nbsp;
<a href="http://www.library.yale.edu/librarynews">Library News</a>&nbsp;&nbsp;
</div>
<div id="footer-line2">
<span class="YaleLogo"><a href="http://www.yale.edu">Yale</a></span>&nbsp;&nbsp;
<a href="http://www.yale.edu/privacy.html">Privacy Policy</a> &nbsp;&nbsp; 
<a href="https://yalesurvey.qualtrics.com/SE/?SID=SV_eVsQouBlz093T1P&Source=Digcol">Feedback</a>
</div>
</div>
