<h4><%= t('blacklight.welcome') %></h4>
<p><h5> Yale University Library's new Digital Interface <br/>
 </h5>
<p>Search sample records from Yale Digital Collections, or simply click on the Search button to browse all available records.
<br/>

<% #Creates a bit space in the page -%>
