<p><h4>Yale University Library Digital Collections<p/>
 </h4>
<p>Welcome to the new Yale University Library Digital Collections repository.<br/>  This interface will ultimately replace the many individual digital collections now available from the Yale University Library.<br/>
  We will add both new collections and new features over the next several months and are very interested in your <a href="">feedback</a>.</p>
These collections are contained in the repository:
<dl>
<dt>Arabic and Persian Medical Manuscripts</dt> <dd>Arabic and Persian manuscripts and books, as well as early translations of Arabic and Persian works dating from 1300 to 1921, from the Medical Historical Library,Cushing/Whitney Medical Library.</dd>
<dt>Day Missions Collection: Annual Reports and Periodicals</dt><dd>Early annual reports and periodicals that provide information about educational, medical, and religious work in various countries.  Developed from materials donated by Professor George Edward Day in 1892, the <a href="http://www.library.yale.edu/div/DayMissions.html">Day Missions Collection</a> at the Yale Divinity Library is known as the preeminent North American collection for documentation of the history of missions and the development of Christianity throughout the world.</dd>
<dt>Han Nom Handwritten and Woodblock Manuscripts</dt><dd>Original woodblock or brush ink texts and translations of Han Nom texts into modern Romanized Vietnamese collected by Maurice Durand, a prominent Vietnamese/French scholar of Han Nom from the mid-20th century. Han Nom script uses classical Chinese characters to represent Sino-Vietnamese vocabulary and some native Vietnamese words, while other words are represented using locally created characters based on the Chinese model.</dd>
<dt>Urdu and Persian Holdings - South East Asian Collection</dt><dd>20 older Persian philology texts which originate from South Asia, are rare European translations, or are reprints. All of the selected items are in the "endangered" preservation category. Many have extensive marginalia from scholars, or are from the personal libraries of Yale scholars such as Edward Salisbury.</dd>
<dt>Yale Indian Papers</dt><dd>Letters, committee reports, covenants and maps and other materials documenting the history of New England Native Americans.  The <a href="http://www.library.yale.edu/yipp">Yale Indian Papers Project</a> is a documentary editing endeavor and collaborative research initiative with the mission to advance scholarship on the history and culture of New England Native Americans.</dd>
</dl>
<% #Creates a bit space in the page -%>
