<p><h4>Yale University Library Digital Collections<p/>
 </h4>
<p>Welcome to the new Yale University Library Digital Collections repository.<br/>  Our new Digital Collections interface will ultimately replace the many individual digital collections now available from the Yale Library.<br/>
  We will be adding both new collections and new features over the next several months and are very interested in your <a href="">feedback</a>.</p>
Currently the repository contains materials from the following Yale Digital Collections:
<dl>
<dt>Arabic and Persian Medical Manuscripts</dt> <dd>This collection contains Arabic and Persian manuscripts and books, as well as early translations of Arabic and Persian works dating from 1300 to 1921, from the Medical Historical Library,Cushing/Whitney Medical Library.</dd>
<dt>Day Missions Collection: Annual Reports and Periodicals</dt><dd>Developing from a core of materials donated by Professor George Edward Day in 1892, the <a href="http://www.library.yale.edu/div/DayMissions.html">Day Missions Collection</a> at the Yale Divinity Library is known as the preeminent North American collection for documentation of the history of missions and the development of Christianity throughout the world.  The Library is focusing digitization efforts on early annual reports and periodicals that provide information about educational, medical, and religious work in various countries.
<dt>Han Nom Handwritten and Woodblock Manuscripts</dt><dd>Within this fascinating collection, a scholar can find handwritten and woodblock texts in HáNôa writing method for the Vietnamese language adapted from and incorporating modified Chinese characters in use from the 13th until the 20th century.</dd>
<dt>Urdu and Persian Holdings - South East Asian Collection</dt><dd>These 20 older Persian philology texts either originate from South Asia, are rare European translations, or are reprints. All of the selected items are in the "endangered" category according to current Yale preservation standards. Many have extensive marginalia from scholars, or are from the personal libraries of Yale scholars like Edward Salisbury.</dd>
<dt>Yale Indian Papers</dt><dd>The <a href="http://www.library.yale.edu/yipp">Yale Indian Papers Project</a> is a documentary editing endeavor and collaborative research initiative with the mission to advance scholarship on the history and culture of New England Native Americans.</dd>
</dl>
<% #Creates a bit space in the page -%>
