<% # header bar for doc items in index view -%>
<div class="complexThumbnails">
<% # main title container for doc partial view -%>
<% pagenum = 1 %>
<% i = 0 %>
<% maxval = 10 %>


<% if @docs1 != nil then %>

    <% until (i == maxval) || (i >= @docs1.length) %>

         <%= link_to image_tag(@url1 + @docs1[i].to_s  + @url2 , :height => '100', :width => '75'), @bookreader + document[:oid_isi].to_s + "#page/" + pagenum.to_s + "/mode/1up", :target => '_blank' %>

         <% i = i + 1 %>

         <% pagenum = pagenum + 1 %>

<% end end %>

</div>
